#logo{
  border-radius:10px;
  width:90%;
  margin-left:0px;
  display: flex;
  }


.container{
text-align:center;
 margin-left:0px;
    }


h1,h2 {font-size: 3em;
       text-align:center;}

h3 {font-size: 3em;
    text-align:center;
    font-style:italic;}



@media screen and (max-width: 96em) {
h1,
h2{
  text-align: center;
  font-size: 2.96em;
}
}
@media screen and (max-width: 94em) {
h1,
h2{
  text-align: center;
  font-size: 2.9em;
}
}
@media screen and (max-width: 92em) {
h1,
h2{
  text-align: center;
  font-size: 2.84em;
}
}




@media screen and (max-width: 90em) {
h1,
h2{
  text-align: center;
  font-size: 2.78em;
}
}            

@media screen and (max-width: 88em) {
h1,
h2{
  text-align: center;
  font-size: 2.74em;
}
}            

@media screen and (max-width: 86em) {
h1,
h2{
  text-align: center;
  font-size: 2.68em;
}
}            

@media screen and (max-width: 84em) {
h1,
h2{
  text-align: center;
  font-size: 2.62em;
}
}

@media screen and (max-width: 82em) {
h1,
h2{
  text-align: center;
  font-size: 2.56em;
}
}


@media screen and (max-width: 80em) {
h1,
h2{
  text-align: center;
  font-size: 2.5em;
}
}



@media screen and (max-width: 78em) {
h1,
h2{
  text-align: center;
  font-size: 2.44em;
}
}            


@media screen and (max-width: 76em) {
h1,
h2{
  text-align: center;
  font-size: 2.38em;
}
}            


@media screen and (max-width: 74em) {
h1,
h2{
  text-align: center;
  font-size: 2.32em;
}
}            




@media screen and (max-width: 72em) {
h1,
h2{
  text-align: center;
  font-size: 2.26em;
}
}            

@media screen and (max-width: 70em) {
h1,
h2{
  text-align: center;
  font-size: 2.2em;
}
}            

@media screen and (max-width: 68em) {
h1,
h2{
  text-align: center;
  font-size: 2.16em;
}
}            

@media screen and (max-width: 66em) {
h1,
h2{
  text-align: center;
  font-size: 2.1em;
}
}            

@media screen and (max-width: 64em) {
h1,
h2{
  text-align: center;
  font-size: 2.04em;
}
}            



@media screen and (max-width: 62em) {
h1,
h2{
  text-align: center;
  font-size: 1.98em;
}
}            


@media screen and (max-width: 60em) {
h1,
h2{
  text-align: center;
  font-size: 1.92em;
}
}            


@media screen and (max-width: 58em) {
h1,
h2{
  text-align: center;
  font-size: 1.84em;
}
}            




@media screen and (max-width: 56em) {
h1,
h2{
  text-align: center;
  font-size: 1.78em;
}
}            

@media screen and (max-width: 54em) {
h1,
h2{
  text-align: center;
  font-size: 1.72em;
}
}            

@media screen and (max-width: 52em) {
h1,
h2{
  text-align: center;
  font-size: 1.66em;
}
}            

@media screen and (max-width: 50em) {
h1,
h2{
  text-align: center;
  font-size: 1.60em;
}
}            

@media screen and (max-width: 48em) {
h1,
h2{
  text-align: center;
  font-size: 1.54em;
}
}            

@media screen and (max-width: 46em) {
h1,
h2{
  text-align: center;
  font-size: 1.48em;
}
}

@media screen and (max-width: 44em) {
h1,
h2{
  text-align: center;
  font-size: 1.42em;
}
}


@media screen and (max-width: 42em) {
h1,
h2{
  text-align: center;
  font-size: 1.36em;
}
}



@media screen and (max-width: 40em) {
h1,
h2{
  text-align: center;
  font-size: 1.30em;
}
}            



@media screen and (max-width: 38em) {
h1,
h2{
  text-align: center;
  font-size: 1.24em;
}
}            


        

@media screen and (max-width: 36em) {
h1,
h2{
  text-align: center;
  font-size: 1.18em;
}
}            

          

@media screen and (max-width: 34em) {
h1,
h2{
  text-align: center;
  font-size: 1.12em;
}
}            


@media screen and (max-width: 32em) {
h1,
h2{
  text-align: center;
  font-size: 1.06em;
}
}            




@media screen and (max-width: 30em) {
h1,
h2{
  text-align: center;
  font-size: 1em;
}
}            


@media screen and (max-width: 96em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.96em;
}
}
@media screen and (max-width: 94em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.9em;
}
}
@media screen and (max-width: 92em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.84em;
}
}

@media screen and (max-width: 90em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.78em;
}
}

@media screen and (max-width: 88em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.74em;
}
}
@media screen and (max-width: 86em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.68em;
}
}
@media screen and (max-width: 84em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.62em;
}
}
@media screen and (max-width: 82em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.56em;
}
}

@media screen and (max-width: 80em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.5em;
}
}

@media screen and (max-width: 78em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.44em;
}
}

@media screen and (max-width: 76em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.38em;
}
}



@media screen and (max-width: 74em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.32em;
}
}




@media screen and (max-width: 72em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.26em;
}
}

@media screen and (max-width: 70em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.2em;
}
}


@media screen and (max-width: 68em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.16em;
}
}

@media screen and (max-width: 66em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.1em;
}
}

@media screen and (max-width: 64em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2.04em;
}
}



@media screen and (max-width: 62em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.98em;
}
}

@media screen and (max-width: 60em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.92em;
}
}

@media screen and (max-width: 58em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.84em;
}
}

@media screen and (max-width: 56em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.78em;
}
}


@media screen and (max-width: 54em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.72em;
}
}

@media screen and (max-width: 52em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.66em;
}
}

@media screen and (max-width: 50em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.60em;
}
}



@media screen and (max-width: 48em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.54em;
}
}
@media screen and (max-width: 46em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.48em;
}
}


@media screen and (max-width: 42em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.42em;
}
}







@media screen and (max-width: 40em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.30em;
}
}

@media screen and (max-width: 40em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.24em;
}
}

@media screen and (max-width: 36em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.18em;
}
}

@media screen and (max-width: 34em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.12em;
}
}



@media screen and (max-width: 32em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.06em;
}
}

@media screen and (max-width: 30em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1em;
}
}

