@charset "utf-8";




#logo{
  border-radius:10px;
  width:100%;
  margin-left:0px;
  display: flex;
  min-width:10%;
  }
.container{
text-align:center;
 margin-left:0px;
    }


h1,h2 {font-size: 3em;
       text-align:center;}

h3 {font-size: 3em;
    text-align:center;
    font-style:italic;}


@media screen and (max-width: 64em) {
h1,
h2{
  text-align: center;
  font-size: 2em;
}
}

@media screen and (max-width: 50em) {
h1,
h2{
  text-align: center;
  font-size: 1.5em;
}
}

@media screen and (max-width: 30em) {
h1,
h2{
  text-align: center;
  font-size: 1em;
}
}            

@media screen and (max-width: 64em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 2em;
}
}


@media screen and (max-width: 50em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1.5em;
}
}



@media screen and (max-width: 30em) {
h3{
  text-align:center;
  font-style:italic;
  font-size: 1em;
}
}

.menu{
  position:relative;
  left:2500px;
}




form{
    text-align:center;
}

p{
    text-align:center;
}

#blockinput{
    text-align:center;
}

.classRecupInfo{
    text-align:center;
    font-style:italic;
    margin:0 auto;
}


#monCadre{
    position:relative;
    margin-top:-200px;
    border:2px solid black;
    width: 580px;
    height: 150px;
    background-color:green;
    overflow:scroll;
    margin:0 auto;
}


#map{
    height:200px;
    width:700px;
    margin-top:auto;
    float-left;
}

#image1{
  float:right;
}

#tourne{
    margin-top:auto;
    float:right;
   
}

.formPseudo{
    margin-top:-200;
    margin-right:910px;
}

#monCadreWiki{
    margin:0 auto;
    border: 2px solid black;
    width: 580px;
    height: 150px;
    overflow:scroll;
    float:left;

}
#divFavorite{
  margin-right:0 auto;
}
#payschat{
  height:200px;
  width: 0 auto;



}
#inp{
  float:left;

}

