@charset "utf-8";


#tourne{
width:90%;
margin-right:100px;
margin-top:auto;
min-width:30px;
min-height:30px;
max-width:200px;
}


#map{
width:100%;
margin-top:auto;

}
#payschat{
width:20%;
height:80%;


}


#monCadreWiki{
    border: 2px solid black;
    width: 100%;
    overflow:scroll;
    float:left;


}




#monCadre{
    position:relative;
    border:2px solid black;
    width: 100%;
    background-color:green;
    overflow:scroll;
    float:left;
}

#supp{

width:30%;
max-width:100px;
}



form{
    text-align:center;
}

p{
    text-align:center;
}

#blockinput{
    text-align:center;
}

.classRecupInfo{
    text-align:center;
    font-style:italic;
    margin:0 auto;
}







#image1{
  float:right;
}


#c{
 float:left;
 color:red;
}
.formPseudo{
    margin-top:-200;
    margin-right:910px;
}


#divFavorite{
  margin-right:0 auto;
}
#payschat{
  height:200px;
  width: 0 auto;



}
#inp{
  float:left;

}

